<div class="divisions">
  <% @divisions.each do |division| %>
  <div class="divisions__division">
    <%= link_to( division.name, division_path(division), class: "divisions__division_link") %>
    <%= link_to( 'Edit', edit_division_path(division), class: "button button_edit") %>
  </div>
  <% end %>
</div>
