<form action="/<%=@table%>" method="post">
  <div class="form-group form_new">
    <% @fields.each do |field| %>
      <label for="<%=field%>"><%=field.capitalize%></label>
      <input name="<%=field%>" type="text" class="form-control">
      </div>
    <% end %>
    <button type="submit" class="btn btn-sm btn-warning">Add</button>
  </div>
</form>