<h1>Add New Artist</h1>
<form action='/artists' method="post">
  <div class='form-group'>
    <label for='artists_name'>Artist's Name</label>
    <input name='artists_name' type='text' class='form-control'>
  </div>
  <button type='submit' class='btn'>Go</button>
</form>
