<h1>Teams</h1>

<div class="teams_list">
  <% @teams.each do |team| %>
  <div class="team">
    <span class="team__link">
      <%= link_to(team.name, team_path(team)) %>
    </span>
    <%= link_to('Edit', edit_team_path(team), class: 'button button_edit') %>
    <%= link_to('Delete',
                team_path(team),
                class: 'button button_delete',
                data: {method: 'delete', confirm: 'Are you sure?'}) %>
  </div>
  <% end %>
</div>

<%= link_to('Add Team', new_team_path, class: "button") %>
