<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <title>Animal Shelter</title>
  </head>
  <body>
    <img class="logo" src="/120px-Celtic_round_dogs.svg.png">
    <%= yield %>
    <hr/>
    <div class="paws">
      <img class="paw" src="/bear-510323634-612x612.jpg">
      <img class="paw" src="/fox-1015542838-612x612.jpg">
      <img class="paw" src="/dog_cat-1291185011-612x612.jpg">
      <img class="paw" src="/wolf-1015542826-612x612.jpg">
      <img class="paw" src="/lion-1015542850-612x612.jpg">
    </div>
  </body>
</html>
